*:Root{ Font: Normal Large / 1.15 Serif }
@media screen {
	*:Root{
		Color: #1F1A14;
		Background: #FAF8F7;
	}
}
footer { Font-Size: Small }
header { Text-Align: Right }
p {
	Position: Relative;
	Text-Align: Justify;
	Font-Variant-Numeric: Oldstyle-Nums;
}
p::BEFORE {
	Position: Absolute;
	Top: 0;
	Left: -2.5REM;
	Width: 2REM;
	Color: #75706A;
	Font-Size: Small;
	Line-Height: 1.15REM;
	Text-Align: Right;
	Counter-Increment: Para;
	Content: '¶ ' Counter(Para, Decimal-Leading-Zero)
}
@media ( Max-Width: 25EM ) {
	p { Text-Align: Left }
}
[data--book-gen-type=index] ol { List-Style: None }
[data--book-gen-type=index] ol ol { List-Style: Decimal-Leading-Zero }
section {
	Margin: Auto;
	Padding: 1REM 3REM;
	Max-Width: 37EM;
	Counter-Reset: Para;
}
